<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
        rel="stylesheet"
    />
    <title>Document</title>
</head>
<body>
    <div class="container" style="margin:10px 50px; display:flex;">
        <h1 style="text-align:center;"> Edit Recipe</h1>
        <div style="margin-left:auto;">
            <a href="/logged">Dashboard</a> 
            <a href="/logout">Logout</a>
        </div> 
    </div>
    <div style="margin:10px 50px;">
        {% with messages = get_flashed_messages() %}    
            {% if messages %}                            
                {% for message in messages %}  
                    {% if 'Invalid' not in message%}         
                    <p>{{message}}</p>      
                    {% endif %}            
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form style="margin:10px 50px; display:flex;" action = "/recipes/edit/{{recipe.id}}" method = "POST">
        <div>
            <div class="form-group col-xs-4 col-md-4">
                <label for="name">Name:</label>
                <input type="text" name="name" id= "name" value="{{recipe.name}}">
            </div>
            <div class="form-group col-xs-4 col-md-4">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" cols="50">{{recipe.description}}</textarea>
            </div>
            <div class="form-group col-xs-4 col-md-4">
                <label for="instructions">Instructions:</label>
                <textarea id="instructions" name="instructions" rows="4" cols="50">{{recipe.instructions}}</textarea>
            </div>
            <input type="submit" value="Update">
        </div>
        <div>
            <div class="form-group">
                <label for="date_made">Date Made On:</label><br>
                <input type="date" name="date_made" id="date_made" value="{{recipe.date_made}}">
            </div> <br>
            <div class="form-group">
                <label>Under Thirty Minutes?</label><br>
                {% if recipe.under_thirty == 0 %}
                    <label for="yes">Yes</label>
                    <input type="radio" id="yes" name="under_thirty" value="true">
                    <label for="no">No</label>
                    <input type="radio" id="no" name="under_thirty" value="false" checked>
                {% else %}
                    <label for="yes">Yes</label>
                    <input type="radio" id="yes" name="under_thirty" value="true" checked>
                    <label for="no">No</label>
                    <input type="radio" id="no" name="under_thirty" value="false">
                {% endif %}
            </div>
            <input type="hidden" name = "user_id" value = "{{user_id}}">
        </div>
        
    </form>
</body>
</head>