<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="container" style="margin:10px 50px; display:flex;">
        <h1 style="text-align:center;"> Hello {{ user.first_name }}  {{ user.last_name }}</h1>
        <div style="margin-left:auto;">
            <a href="/recipes/new">Create</a> 
            <a href="/logout">Logout</a>
        </div> 
    </div>
    <h2 style="margin:10px 50px;"> These are the recipes </h2>
    <table class = "table" style="margin:10px 50px;">
        <tr>
            <th>Name</th>
            <th>Under 30 Minutes</th>
            <th>Actions</th>
        <tr>
        {% for recipe in recipes %}
            <tr>
                <td>{{recipe.name}}</td>
                {% if recipe.under_thirty %}
                    <td> Yes </td>
                {% else %}
                    <td> No </td>
                {% endif %}
                <td>
                    <a href = '/recipes/{{recipe.id}}'>view instructions</a>
                    {% if recipe.user_id == user.id %}
                        <a href = '/recipes/edit/{{recipe.id}}'>edit</a>
                        <a href = '/recipes/delete/{{recipe.id}}'>delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>