<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
        rel="stylesheet"
    />
    <title>Document</title>
</head>
<body>
    <div class="container" style="margin:10px 50px; display:flex;">
        <h1 style="text-align:center;"> Hello {{ user.first_name }}  {{ user.last_name }}</h1>
        <div style="margin-left:auto;">
            <a href="/logged">Dashboard</a> 
            <a href="/logout">Logout</a>
        </div> 
    </div>
    <div style="margin:10px 50px; display:flex;">
        <h2> {{recipe.name}} </h2>
        <div style="margin-left: auto;">
        <p> {{likes[0]}} Likes </p>
        {% if likes[1] == 0%}
            <form action="/recipes/like/{{recipe.id}}" method="POST">
                <input type="submit" value = "Like">
            </form>
        {% else %}
            <form action="/recipes/unlike/{{recipe.id}}" method="POST">
                <input type="submit" value = "Unlike">
            </form>
        {% endif %}
        </div>
    </div>
    <div style="margin:10px 50px; border: 3px solid black;">
        <table class="table">
            <tr>
                <td> Description: </td>
                <td> {{recipe.description}} </td>
            </tr>
            <tr>
                <td> Under 30 Minutes: </td>
                <td> 
                    {% if recipe.under_thirty == 0 %} 
                        No
                    {%else%}
                        Yes
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td> Instructions: </td>
                <td>{{recipe.instructions | safe}}</td>
            </tr>
            <tr>
                <td> Date Made: </td>
                <td> {{recipe.date_made}} </td>
            </tr>
        </table>
    </div>

</body>
</head>