<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1 class="center">Ninja Gold</h1>
    <div class="gold_view">
        <p>Your Gold:</p> <p class="gold_box"> {{gold}}</p> 
        <form action='/reset' method='post'>
            <input type='submit' name='reset' value='Reset'>
        </form>
    </div>
        <div class = 'options'>
            <div class = 'square'>
                <form action='/process_money' method='post'>
                    <h3>Farm</h3>
                    <p>(earns 10-20 gold)</p>
                    <input class="button2" type='submit' name='farm' value='Find Gold!'>
                </form>
            </div>
            <div class = 'square'>
                <form action='/process_money' method='post'>
                    <h3>Cave</h3>
                    <p>(earns 0-30 gold)</p>
                    <input class="button2" type='submit' name='cave' value='Find Gold!'>
                </form>
            </div>
            <div class = 'square'>
                <form action='/process_money' method='post'>
                    <h3>House</h3>
                    <p>(earns 2-5 gold)</p>
                    <input class="button2" type='submit' name='house' value='Find Gold!'>
                </form>
            </div>
            <div class = 'square'>
                <form action='/process_money' method='post'>
                    <h3>Casino</h3>
                    <p>(earns/loses 0-50 gold)</p>
                    <input class="button2" type='submit' name='casino' value='Find Gold!'>
                </form>
            </div>
        </div>
        <div style="padding:10px;">
            <p style="margin-bottom:0px;">Activities:</p>
            <div class="scroller">
                {{ log|safe }}
            </div>
        </div>
</body>
</html>